<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a id='LOhsnWaRREZVIXsojXf_lw' class='gie-single' href='http://www.gettyimages.com/detail/162717099' target='_blank' style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed from Getty Images</a><script>window.gie=window.gie||function(c){(gie.q=gie.q||[]).push(c)};gie(function(){gie.widgets.load({id:'LOhsnWaRREZVIXsojXf_lw',sig:'Hcl5ASLH63iK1r-04CsoOypMdlO_lKWOk3h4EdrWGIY=',w:'508px',h:'337px',items:'162717099',caption: true ,tld:'com',is360: false })});</script><script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
      <div class="caption">
        <h3>Homebrewing</h3>
        <p>I like to enjoy a good beer. But one that's homemade and handcrafted is even better.</p>
        <p><a href="http://www.homebrewersassociation.org/how-to-brew/beginner/how-to-make-beer/" class="btn btn-primary" role="button">Learn to Brew</a></p>
      </div>
    </div>
  </div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <a id='yiGAM6Z0TjtKk0woanvMNA' class='gie-single' href='http://www.gettyimages.com/detail/139071293' target='_blank' style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed from Getty Images</a><script>window.gie=window.gie||function(c){(gie.q=gie.q||[]).push(c)};gie(function(){gie.widgets.load({id:'yiGAM6Z0TjtKk0woanvMNA',sig:'MQ465Or8LNwcp3gEOYd7_fbmoMIWb3gcIUEtDS-j9Ak=',w:'507px',h:'337px',items:'139071293',caption: true ,tld:'com',is360: false })});</script><script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
    <div class="caption">
      <h3>Board Games</h3>
      <p>I like to enjoy a good beer. But one that's homemade and handcrafted is even better.</p>
      <p><a href="http://www.theboardgamefamily.com/all-game-reviews/" class="btn btn-primary" role="button">Find a Game</a></p>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <a id='7pgJo1NdQ7hUMA3TDgjvpw' class='gie-single' href='http://www.gettyimages.com/detail/538146846' target='_blank' style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed from Getty Images</a><script>window.gie=window.gie||function(c){(gie.q=gie.q||[]).push(c)};gie(function(){gie.widgets.load({id:'7pgJo1NdQ7hUMA3TDgjvpw',sig:'ZD6UmGUunDuiZ1dsn8l8cMZ7-OPVwL0jcsmRXeZew-0=',w:'509px',h:'339px',items:'538146846',caption: true ,tld:'com',is360: false })});</script><script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
    <div class="caption">
      <h3>Music</h3>
      <p>Nothing passes the time like a good piece of renaissance polyphony.</p>
      <p><a href="https://en.wikipedia.org/wiki/Giovanni_Pierluigi_da_Palestrina" class="btn btn-primary" role="button">Palestrina</a></p>
    </div>
  </div>
</div>
</div>
