<h4>Social</h4>

<ul class="nav nav-pills nav-stacked">
  <li><a href="https://www.twitter.com/nickpadley/"><i class="fa fa-twitter fa-fw"></i> @nickpadley</a></li>
  <li><a href="https://www.linkedin.com/in/nickpadley" data-proofer-ignore><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
</ul>

<hr />

<form class="form-inline" role="form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=nickpadley', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

<h5>Get blog updates via your inbox:</h5>
<div class="form-group">
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
		<input type="text" name="email" class="form-control" placeholder="Email address"/>
		<span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Submit</button>
        </span>
	</div>
</div>
<input type="hidden" value="nickpadley" name="uri"/>
<input type="hidden" name="loc" value="en_US"/>

</form>